@import "./variables.scss";
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  color: $green;
}
main {
  max-width: 500px;
}
p {
  font-family: $body;
  font-size: 16px;
}
h4 {
  font-family: $body;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
