@import "../../styles/variables.scss";

.dialogue {
  opacity: 0;
  background-color: $darkBlue;
  color: $green;
  padding: 12px 16px 12px 16px;
  margin: 6px 0;
  h4 {
    margin-bottom: 4px;
  }
}
.POLICE {
  text-align: right;
  background-color: #1c2a2d;
  // $darkBlue: #101c1e;
}
