.main {
  display: flex;
  flex-direction: column;
  height: 100svh;
  width: 100%;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  height: 5svh;
  margin: 0 12px;
  align-items: center;
  .controller {
    display: flex;
    align-items: center;
    .volume {
      margin-left: 26px;
    }
  }
}
