.container {
    width: 100vw;
}

.slider {
    overflow-x: auto;
    width: 100%; 
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
}

.slide {
    scroll-snap-align: center;
    width: 100%;
    flex-shrink: 0;
}

.image {
    width: 100%;
    height: auto;
}

.arrows {
    position: static;
}

