.slider {
    overflow-x: auto;
    max-width: 100%;
    width: 500px; 
    display: flex;
    gap: 7px;
    scroll-snap-type: x mandatory;
}

.slide {
    scroll-snap-align: center;
}

.image {
    width: 500px;
    height: auto;
}

.arrows {
    position: static;
}

// @media screen and (max-width: 500px) {
//     .slider {
//         width: 400px;
//     }
// }
