.dialogues {
  height: 60vh;
  overflow-y: scroll;
  .dialoguesContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
  }
}

.choicesContainer {
  position: fixed;
  bottom: 0;
  height: 5vh;
}
