@import "../../styles/variables.scss";

.dialogues {
  height: 60vh;
  overflow-y: scroll;
  position: relative;
  .dialoguesContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 15vh;
  }
}

.choicesContainer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  .multipleChoice {
    font-family: $body;
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: $green;
    height: 100%;
    width: 48%;
    color: $darkBlue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  .singleChoice {
    font-family: $body;
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: $green;
    height: 100%;
    width: 100%;
    color: $darkBlue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
  }
  &:hover {
    cursor: pointer;
  }
}
