@import "../../styles/variables.scss";

.consignes {
  display: flex;
  margin: 0 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10vh;
  margin-top: 5vh;
  .avatarContainer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-bottom: 6px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.game {
  margin-top: 20vh;
  height: 40vh;
  position: relative;

  .mainBar {
    width: 95%;
    margin: 0 auto;
    height: 55px;
    // width: 100%;
    background-color: $darkBlue;
    border: 0.5px solid $grey;
    margin-top: 25px;
    position: relative;
    .movingBar {
      height: 55px;
      width: 80px;
      background-color: $green;
      position: absolute;
      left: 0;
    }
    .indicator {
      height: 80px;
      width: 5px;
      background-color: transparent;
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
    }
    .triangle {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -35px;
    }
    .triangleDown {
      position: absolute;
      // transform: ;
      transform: translateX(-50%) rotate(180deg);
      left: 50%;
      bottom: -35px;
    }
  }
}
.answer {
  text-align: center;
  margin: 12px;
  font-size: 18px;
}
