.game {
  height: 50vh;
  position: relative;

  .mainBar {
    height: 80px;
    width: 100%;
    border: 1px solid white;
    margin-top: 25px;
    position: relative;
    .movingBar {
      height: 80px;
      width: 80px;
      background-color: green;
      position: absolute;
      left: 0;
    }
    .indicator {
      height: 80px;
      width: 20px;
      background-color: red;
      position: absolute;
      transform: translate(-50%, 0);
      left: 50%;
    }
  }
}
.stop {
  button {
    width: 200px;
    height: 50px;
  }
}
