.choices-container {
  margin-top: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main {
  max-width: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
