@import "../../styles/variables.scss";

.button {
  width: fit-content;
  font-family: $body;
  display: block;
  font-size: 16px;
  padding: 20px 12px;
  margin: 5svh auto;
  width: 50%;
  text-align: center;
  background-color: $green;
  display: flex;
  justify-content: center;
  align-items: center;
  h4 {
    color: $darkBlue;
  }
}
