@import "../../../../styles/variables.scss";
.consignes {
  display: flex;
  margin: 0 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  .avatarContainer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-bottom: 6px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.choices {
  display: flex;
  justify-content: space-between;
  margin-top: 26px;
  // border: 2px solid grey;
  .choice {
    display: flex;
    width: 25%;
    flex-direction: column;
    &.active {
      .color {
        border: 2px solid white;
      }
    }
    h4 {
      color: white;
      text-align: center;
    }
    .color {
      height: 30px;
      width: 100%;
    }
  }
}

.paintingContainer {
  height: 40%;
  width: 80%;
  margin: 0 auto;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.answer {
  position: fixed;
  bottom: 60px;
}

.validation {
  position: fixed;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  height: 40px;

  button {
    background-color: $green;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $darkBlue;
    font-family: $body;
  }
  a {
    font-family: $body;

    display: block;
    font-size: 16px;
    text-align: center;
    background-color: $green;
    height: 100%;
    width: 100%;
    color: $darkBlue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// .colorPicker {
//   height: 80vh;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }
