@import "../../../../styles/variables.scss";

.consignes {
  display: flex;
  margin: 0 16px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  .avatarContainer {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-bottom: 6px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.imageContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 50%;
  width: 80%;
  margin: 0 auto;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.cross {
  position: absolute;
  transform: translate(-50%, -50%);
  opacity: 0;
  img {
    transform: scale(1.5);
  }
}

.answer {
  position: fixed;
  bottom: 60px;
}

.validation {
  position: fixed;
  bottom: 0;
  max-width: 500px;
  width: 100%;
  height: 40px;

  button {
    background-color: $green;
    width: 100%;
    height: 100%;
    font-size: 16px;
    color: $darkBlue;
  }
  a {
    display: block;
    font-size: 16px;
    text-align: center;
    background-color: $green;
    height: 100%;
    width: 100%;
    color: $darkBlue;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
