@import "../../../styles/variables.scss";

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  .endPhrase {
    margin-top: 10svh;
    width: 80%;
    text-align: center;
    margin-bottom: 3svh;
  }

  .otherEnd {
    margin-top: 15svh;
    a {
      background-color: $green;
      padding: 18px 12px;
      color: $background;
      font-family: $body;
    }
  }
  .controller {
    position: fixed;
    bottom: 2svh;
    display: flex;
    max-width: 500px;
    justify-content: space-between;
    width: 90%;
    a {
      border-bottom: 1px solid $green;
    }
  }
}
.paint {
  height: 45svh;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
